extends layouts/default.pug

block content
  h1= self.data.name
  
  .pxl-tabbar
    .pxl-tabbar-triggers
      a.pxl-tabbar-trigger(href="#")
        .pxl-tabbar-trigger-icon
          +svg({ name: 'home' })
          +svg({ name: 'home-filled' })
      a.pxl-tabbar-trigger(href="#")
        .pxl-tabbar-trigger-icon
          +svg({ name: 'shopping-bag' })
          +svg({ name: 'shopping-bag-filled' })
      a.pxl-tabbar-trigger(href="#")
        .pxl-tabbar-trigger-icon
          +svg({ name: 'settings' })
          +svg({ name: 'settings-filled' })

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.

  .boxes
    - let blackbox = 1
    while blackbox <= 9
      .box(class=`black-box-${blackbox++}`)
    
  .boxes
    - let color1 = 1
    while color1 <= 9
      .box(class=`color-1-box-${color1++}`)
  
  .boxes
    - let color2 = 1
    while color2 <= 9
      .box(class=`color-2-box-${color2++}`)
  
  .boxes
    - let color3 = 1
    while color3 <= 9
      .box(class=`color-3-box-${color3++}`)
  
  
